.name-input {
    border-radius: 5px;
    border: solid 2px lightgrey;
    padding: 0.5rem;
    text-align: center;
}

.player-name {
    text-align: center;
    font-size: 2.4rem;
    margin: 1rem auto;

}